<div class="card">
  <div class="card-img-top">
    <img src="{{user.photoUrl}}" alt="{{user.firstName}}">
  </div>
  <div class="card-title">{{user.firstName | titlecase}} , <span class="badge badge-pill">{{user.genre}}</span></div>
  <div class="card-footer">
    <div class="btn-group">
        <li class="list-inline-item"><button class="btn btn-primary" [routerLink]="['/members/', user.id]"><i class="fa fa-user animate"></i></button></li>
        <li class="list-inline-item"><button class="btn btn-primary" (click)="sendFollowRequest(user.id)"><i class="fas fa-user-friends"></i></button></li>
        <li class="list-inline-item"><button class="btn btn-primary" [routerLink]="['/members/', user.id]" [queryParams]="{tab: 3}"><i class="fa fa-envelope animate"></i></button></li>
        <li class="list-inline-item"><button class="btn btn-primary" [routerLink]="['/members/', user.id]" [queryParams]="{tab: 4}"><i class="fas fa-calendar-plus"></i></button></li>
    </div>
  </div>
</div>