<div class="container">
  <form class="form-signin">
    <div *ngIf="!registerMode" class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-bold">Welcome to Muzyk</h1>
      <p class="h5 mb-4 font-weight-bold">A Place where artists meets the world</p>
  
      <button type="button" class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">Register</button>
      <button type="button" class="btn btn-secondary btn-lg">Learn more</button>

    </div>
  </form>
  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col4">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>


