<div class="container">
  <div class="row">
    <br>
    <h1>{{user.firstName | titlecase}}'s Profile</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{user.photoUrl || '../../assets/user.png'}}" alt="{{user.username}}">

        <div class="card-body">
          <div>
            <strong>Location :</strong>
            <p>{{user.city}}, {{user.country}}</p>
          </div>
          <div>
            <strong>Genre :</strong>
            <p>{{user.genre}}</p>
          </div>
          <div>
            <strong>Last Active :</strong>
            <p>{{user.lastActive | timeAgo}}</p>
          </div>
          <div>
            <strong>Member Since :</strong>
            <p>{{user.created | date}}</p>
          </div>
          <div>
            <strong>Years Of Experience :</strong>
            <p>{{user.yearsOfExperience}}</p>
          </div>
        </div>

        <div class="card-footer">
          <div class="btn-group d-flex">
            <button [hidden]="user.id == this.authService.decodedToken.nameid" class="btn btn-primary w-100">Follow</button>
            <button [hidden]="user.id == this.authService.decodedToken.nameid" class="btn btn-success w-100" (click)="selectTab(3)">Message</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="follower-tabset" *ngIf="user.id == this.authService.decodedToken.nameid" #memberTabs>
          <tab heading="About me">
            {{user.introduction}}
          </tab>
          <tab heading="My Interests">
            {{user.interests}}
          </tab>
          <tab heading="Gallery">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </tab>
        </tabset>
        <tabset class="follower-tabset" *ngIf="user.id != this.authService.decodedToken.nameid" #memberTabs>
            <tab heading="About {{user.firstName}}">
              {{user.introduction}}
            </tab>
            <tab heading="{{user.firstName}}'s Interests">
              {{user.interests}}
            </tab>
            <tab heading="{{user.firstName}}'s Gallery">
              <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
            </tab>
            <tab heading="Chat">
              <app-member-messages [recepientId]="user.id"></app-member-messages>
            </tab>
          </tabset>
      </div>
    </div>
  </div>
</div>