<br><br>
<div class="container-fluid">
  <div class="row">
    <br>
    <h1>{{user.firstName | titlecase}}'s Profile</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{user.photoUrl || '../../assets/user.png'}}" alt="{{user.username}}">

        <div class="card-body">
          <div>
            <strong>Location :</strong>
            <p>{{user.city}}, {{user.country}}</p>
          </div>
          <div>
            <strong>Genre :</strong>
            <p>{{user.genre}}</p>
          </div>
          <div>
            <strong>Last Active :</strong>
            <p>{{user.lastActive | timeAgo}}</p>
          </div>
          <div>
            <strong>Member Since :</strong>
            <p>{{user.created | date}}</p>
          </div>
          <div>
            <strong>Years Of Experience :</strong>
            <p>{{user.yearsOfExperience}}</p>
          </div>
        </div>

        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary w-100">Follow</button>
            <button class="btn btn-success w-100" (click)="selectTab(3)">Message</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="follower-tabset" #memberTabs>
          <tab heading="About">
            <br>
            <h4>Description</h4>
            <p>{{user.introduction}}</p>
          </tab>
          <tab heading="Interests">
            <br>
            <h4>Interests</h4>
            <p>{{user.interests}}</p>
          </tab>
          <tab heading="Photos">
            <br>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </tab>
          <tab heading="Messages">
            <br>
            <app-member-messages [recepientId]="user.id"></app-member-messages>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>